body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

.none{
    display: none !important;
}

.visuality-hidden{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

.container{
    width: 1400px;
    padding-left: 15;
    padding-right: 15;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1399px) {
    .container{
        width: 100%;
    }
}

.container-wide{
    width: 1536px;
    padding: 0 15px 0 15px;
}

@media (max-width: 991px){
    body{
        font-size: 18px;
    }
}

@media(max-width: 1535px){
    .container-wide{
        width: 100%;
    }
}

.no-scroll{
    overflow: hidden;
}